
:root {
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(22, 52%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
  background-color: var(--Cream);
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
  font-family: 'Comfortaa', cursive;
  font-family: 'DM Sans', sans-serif;

}
*{
  box-sizing: border-box;
}
.container {
  
  padding-top: 60px;
}
.top {
  background-color: var(--Soft-red);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.circles {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.outline-circle, .solid-circle {
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.solid-circle {
  background-color: black;
}
.outline-circle{
  border: 2px solid white;
  position: relative;
  left: 15px;
}
.my-balance {
  margin-left: 20px;
}
.my-balance > p {
  margin-bottom: 0;
  color: var(--Cream);
}
.my-balance > h2 {
  margin-top: 0;
  color: var(--Cream);
}
.center {
  background-color: var(--very-pale-orange);
  margin-top: 20px;
  border-radius: 10px;
}
.center > h3 {
  font-size: 25px;
  margin-left: 30px;
  padding-top: 30px;
  margin-bottom: 0;
}
.bottom {
  background-color: var(--very-pale-orange);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px 0;
}

.left {
  margin-left: 20px;
}
.left > p {
  
  margin-bottom: 0;
  margin-top: 20px;
}
.left > h2 {
  margin-top: 8px;
}
.right {
  margin-right: 20px;
}
.right > p {
  
  margin-top: 0;
}
.right > h4 {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 0;
}
.days {
  height: 80%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  bottom: 30px;

}
.amount > p {
  padding: 0;
  margin: 0;
  font-size: 10px;
  border: 2px solid black;
  background-color: black;
  color: white;
  visibility: hidden;
  text-align: center;
  padding: 5px;
}
.days:hover .amount > p {
  visibility: visible;
  
}
.days:hover {
  cursor: pointer;
}
.days > p{
  margin: 0;
  color: var(--medium-brown);
  text-align: center;
}
.main-chart {
 border-radius: 4px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart {
  display: flex;
  justify-content: space-between;
  
  height: 400px;
  position: relative;
  border-radius: 10px;
  padding: 0 20px;
}
.amount {
  position: relative;
  
  bottom: 30px;
  padding: 0;
  width: 120%;
}
@media (min-width: 700px) {
  body {
    background-color: var(--Cream);
  }
  .container {
    width: 700px;
    margin: 0 auto;
    padding-top: 0;
    padding: 50px;
    border: 2px solid black;
    
  }
  .days > p {
  text-align: center;
  }
  .top {
    margin: 0;
    padding-top: 0;
  }
  .center {
  height: 400px;
  }
  .bottom {
  height: 100px;
}
.left > p {
  
  margin-top: 0;
  padding-top: 0;
  color: var(--medium-brown);
}
.right > p {
color: var(--medium-brown);
}
.right > h4 {

padding-top: 0;
margin-top: 20px;
}
}
